.container-web-app{
    height: 100vh;
}

header{
    height: 70px;
}

main{
    height: calc(100% - 70px );
}

#side{
    background-image: url('../img/sidebar-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.bg-sidebar{
    background-color: rgba(20, 42, 64, 1);
}

.bg-lightblu{
    background-color: rgba(26, 115, 232, 1);
}

.bg-badges{
    background-color: rgba(21, 92, 186, 1);
}

.jt-avatar {
    max-width: 25px;
}

.main-cont{
    height: 100%;
    overflow-y: auto;
}